@font-face {
    font-family: 'LGEITextTTF-SemiBold';
    src: url('./Fonts/LGEITextTTF-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'LGEIHeadlineTTF-Semibold';
    src: url('./Fonts/LGEIHeadlineTTF-Semibold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #111;
  font-family: 'LGEITextTTF-SemiBold', sans-serif;
}

#root {
  width: 100%; /* 화면 전체 너비 사용 */
  max-width: none; /* 너비 제한 제거 */
  margin: 0 auto;
  text-align: center;
  background-color: #111;
  overflow-x: hidden;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
}