.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header .logo {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.header .logo-image {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.header .logo-text {
  font-family: "LGEIHeadlineTTF-Bold";
  font-weight: 700;
  font-size: 35px;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  line-height: 40px;
  margin-bottom: 5px;
}

.header .logo-text .Hello {
  color: #ed174d;
  font-size: 35px;
  margin-right: 3px;
  line-height: 40px;
}

.header nav {
  display: flex;
  align-items: center;
  margin-left: 40px;  /* 로고와의 간격 */
  margin-right: auto;  /* 오른쪽 여백을 자동으로 설정하여 아이콘들을 오른쪽으로 밀어냄 */
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0 10px;
  padding: 0;
}

.header nav li {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #6b6b6b;
  transition: color 0.3s;
  position: relative;
  padding: 5px 0;
  margin-top: 10px;
}

/* hover 상태 스타일 */
.header nav li:hover {
  color: #fff;  /* hover 시 흰색으로 변경 */
}

.header nav li:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;  /* hover시 밑줄 */
}

/* 활성화된 메뉴 스타일 */
.header nav li.active {
  color: #fff;
}

.header nav li.active::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #bfe10e;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px;  /* 아이콘 간격 증가 */
  margin-right: 30px;
  height: 40px;  /* 높이 고정 */
}

.icon {
  font-size: 22px;  /* 아이콘 크기 약간 증가 */
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;  /* Flex 컨테이너로 변경 */
  align-items: center;  /* 수직 가운데 정렬 */
}

.icon:hover {
  color: #e50914;
}

.icon.active {
  color: #e50914;
}

/* WeatherWidget 정렬 조정 */
.weather-widget {
  margin-left: 10px;
  height: 40px;  /* 높이 고정 */
  display: flex;
  align-items: center;
}