.banner {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: black;
}

.slide {
  position: relative;
  width: 100%;
  height: 80vh;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.content {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  z-index: 2;
  max-width: 650px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: left;  
}

.banner_buttons {
  display: flex;
  gap: 1rem;
}

.button {
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
}

.button:hover {
  color: black;
  background-color: #e6e6e6;
}

.description {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
  text-align: left;
}

.fade_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.slick-slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-dots {
  position: absolute !important;
  left: 85% !important;
  bottom: 30px !important;
  z-index: 10 !important;
  display: flex !important;
  justify-content: flex-start;
  gap: 10px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slide {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.slick-track {
  padding: 0 !important;
  margin: 0 !important;
}

.slide .content {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  z-index: 2;
}

.slide .fade_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.slick-prev::before,
.slick-next::before {
  content: '' !important;
  display: inline-block !important;
  width: 10px !important;
  height: 10px !important;
  border: solid white !important;
  border-width: 0 3px 3px 0 !important;
}

.slick-prev::before {
  transform: rotate(135deg) !important;
}

.slick-next::before {
  transform: rotate(-45deg) !important;
}

.slick-prev,
.slick-next {
  z-index: 10;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev,
.slick-next {
  color: transparent !important;
  background: none !important;
  border: none !important;
}